.site-header{
	display: flex;
	justify-content: space-between;
}

.main-navigation {
	clear: both;
	display: block;
	//float: left;
	//width: 100%;

	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;
		text-transform: uppercase;
		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: 100%;
			left: -999em;
			z-index: 99999;
			text-transform: none;

			ul {
				left: -999em;
				top: 0;
			}

			li {
				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}
			}

			a {
				width: 200px;
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}

	li {
		float: left;
		position: relative;

		&:hover > a,
		&.focus > a {
		}
	}

	a {
		display: block;
		text-decoration: none;
		padding: 10px 20px;
		background-color: $color__background-header;
		border: 1px solid $color__text-main-nav;
		color: $color__text-main-nav;
		opacity: 0.75;
		&:hover{
			opacity: 1;
		}
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
		opacity: 1;
	}
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

@media screen and (min-width: 37.5em) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: block;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		//width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		//width: 50%;
	}
}
