$color__background-body: #3AC0DB;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;
$color__background-header: #06343c;
$color__background-footer: #06343c;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: royalblue;
$color__link-visited: purple;
$color__link-hover: midnightblue;
$color__text-main: #404040;
$color__text-main-nav: #FFFF;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;

$color__font-dark-bg: #FFFF;
$color__text-link: #018da6;
$color__font-button: #094d59;
$color__button: #f2e252;
$color__background_sable: #ece8e5;
$color__background_button_form: #06343c;
